/* RT Blog
--------------------------------------------------- */
.rt-blog-shortcode {
	article {
		.entry-title {
			margin-top: 0;
		}
	}
}
.rt-blog-shortcode.style-1 {
	article.has-post-thumbnail {
		.entry-thumb {
			float: left;
			width: 50%;
			padding-right: 5px;
		}
		.entry-content {
			float: left;
			width: 50%;
			padding-left: 5px;
		}
	}
}
.rt-blog-shortcode.style-2 {
	article {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		> .post-inner {
			.entry-thumb {
				float: left;
				width: 25%;
				padding-right: 10px;
			}
		}
	}
	article.not-first {
		.entry-title {
			margin-bottom: 0;
		}
	}
}
.rt-blog-shortcode.style-3 { 
	article {
		margin-bottom: 10px;
	}
	article > div {
		width: 50%;
		float: left;
	}
	article > div.first {
		padding-right: 10px;
	}
	article > div.not-first {
		padding-left: 10px;
	}
}