/* RT Blog
--------------------------------------------------- */
.rt-blog-carousel-shortcode {
	article {
		.entry-title {
			margin-top: 0;
		}
	}
}
.rt-blog-carousel-shortcode.style-1 {
	article.has-post-thumbnail {
		.entry-thumb {
			float: left;
			width: 50%;
			padding-right: 5px;
		}
		.entry-content {
			float: left;
			width: 50%;
			padding-left: 5px;
		}
	}
}