
/* Widgets
--------------------------------------------------- */
/* widget - support */
.supporter-info{
	padding-top : 92px;
	background: url(../images/bg-support.png) top center no-repeat;
	margin-top: 5px;
}
.supporter {
    text-align: center;
    font-weight: bold;
    padding: 6px 0px;
}
.online{
	text-align: center;
	margin: 5px 0;
	}
.yahoo a, .skype a{
	line-height: 0;
	display: block;
}
.yahoo, .skype{
	display: inline-block;
	margin: 0px 5px;
}
.skype img{
	height: 16px;
	width: auto;
}
.phone {
    color: #F00;
    font-weight: bold;
    display: block;
}