/* Popiular
--------------------------------------------------- */
#wrapper .fusion-page-title-bar {
	border-top: none;
	border-bottom: none;
}
#wrapper #main {
	padding-top: 10px;
}
.page-heading {
	line-height: 70px;
	height: 70px;
	margin-bottom: 35px;
	margin-top: 0px;
	border-bottom: 1px solid #dcdcdc;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.page-heading .first-character {
	color: #8f0512;
}
.page-heading .characters {
	color: #555555;
}

/* Header
--------------------------------------------------- */
.fusion-header-wrapper .fusion-header {
	background-color: #8f0512;
}

/* Main Menu
--------------------------------------------------- */
.fusion-row .fusion-main-menu .sub-menu li a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.fusion-row .fusion-main-menu > ul > li > a {
	border-top: none;	
}
.fusion-row .fusion-main-menu .sub-menu {
	border-top: none;
}
.fusion-row .fusion-main-menu .sub-menu ul {
	top: 0;
}

/* Slider
--------------------------------------------------- */
.home-slider .rev_slider .rev-title {
	letter-spacing: -2px !important;
}
.forcefullwidth_wrapper_tp_banner .avada-skin-rev {
	border-top: none;
	border-bottom: none;
}

/* Footer
--------------------------------------------------- */
#custom-footer {
	position: relative;
}
.informations-contact p {
	margin-bottom: 3px;
	padding-left: 32px;
}
.informations-contact p span {
	line-height: 30px;
}
.informations-contact .fusion-social-links {
	margin-top: 88px;
}
.fusion-fullwidth-2 {
	position: relative;
}
#copyright {
	position: absolute;
	bottom: 98px;
	right: -105px;
}

/* Single course
--------------------------------------------------- */
.single-post-k-course .entry-title {
	display: none;
}
.single-post-k-course .post-inner {
	background: #d97158;
	border-radius: 3px;
	padding: 30px 15px 30px 30px;
	margin-bottom: 40px;
	width: 100%;
	display: inline-block;
}
.single-post-k-course .post-inner .post-content {
	margin-right: 355px;
}
.single-post-k-course .post-inner .post-content * {
	color: #fff;
}
.single-post-k-course .post-inner .post-meta {
	background-color: #ffffff;
	border-radius: 3px;
	width: 325px;
	float: right;
	overflow: hidden;
}
.single-post-k-course .post-inner .post-meta .course-meta {
	padding: 10px;
}
.single-post-k-course .post-inner .post-meta .course-meta label {
	width: 90px;
	display: inline-block;
}
.single-post-k-course .post-inner .post-meta .course-meta select {
	width: calc(100% - 90px);
}
.single-post-k-course .post-inner .post-meta .course-register {
	background: #8f0512;
	display: block;
	width: 100%;
	padding: 7px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.single-post-k-course #wrapper .course-content .fusion-tabs.fusion-tabs-1.clean .nav-tabs {
	border-bottom: 1px solid #dcdcdc;
}
.single-post-k-course #wrapper .course-content .fusion-tabs.fusion-tabs-1.clean .nav-tabs li a {
	background: none;
	border: 0;
	padding: 7px 0;
}
.single-post-k-course #wrapper .course-content .fusion-tabs.fusion-tabs-1.clean .nav-tabs li a .fusion-tab-heading {
	color: #555555;
	text-transform: uppercase;
	font-weight: 300;
}
.single-post-k-course #wrapper .course-content .fusion-tabs.fusion-tabs-1.clean .nav-tabs li.active a {
	background-color: #dcdcdc;
	border-radius: 3px 3px 0 0;
}
.single-post-k-course #wrapper .course-content .fusion-tabs.fusion-tabs-1.clean .nav-tabs li.active a h4 {
	font-weight: 600;
}

/* Shortcodes
--------------------------------------------------- */
/* Content Boxes */
.fusion-content-boxes {
	margin-bottom: 0 !important;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading {
	width: 100%;
	margin-bottom: 7px;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > * {
	display: block;
	text-align: center;
	width: 100%;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > .image {
	margin-bottom: 42px;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > .image > img {
	margin: 0;
}

/* Testimonial */
.fusion-column-wrapper .fusion-testimonials .testimonial-thumbnail {
	float: left;
	width: 160px;
	margin: 0;
}
.fusion-column-wrapper .fusion-testimonials .testimonial-thumbnail .testimonial-image {
	border-radius: 50%;
}
.fusion-column-wrapper .fusion-testimonials.clean blockquote q {
	padding: 0;
	font-size: 14px;
	color: #555555;
	text-align: left;
}
.fusion-column-wrapper .fusion-testimonials.clean .author {
	margin-top: 5px;
}
.fusion-column-wrapper .fusion-testimonials.clean .company-name {
	width: 55%;
	float: right;
	font-size: 14px;
	color: #555555;
	text-align: left;
}
.fusion-column-wrapper .fusion-testimonials.clean .company-name strong {
	color: #8f0512;
}
/* Blog */
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper,
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-flexslider {
	border: 0;
}
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-flexslider {
	margin-bottom: 11px;
}
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper {
	padding: 0;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .entry-title {
	font-size: 15px;
	line-height: 1.5em;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .entry-title a {
	color: #8f0512;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .fusion-meta-info {
	display: none;
}
.flex-active-slide .fusion-image-wrapper .fusion-rollover {
    background-image: linear-gradient(top, rgba(143,5,18,0.8) 0%, rgba(143,5,18,0.8) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(143,5,18,0.8)), color-stop(1, rgba(143,5,18,0.8)));
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a0ce4e, endColorstr=#a0ce4e), progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    background-image: -webkit-linear-gradient(top, rgba(143,5,18,0.8) 0%, rgba(143,5,18,0.8) 100%);
    background-image: -moz-linear-gradient(top, rgba(143,5,18,0.8) 0%, rgba(143,5,18,0.8) 100%);
    background-image: -ms-linear-gradient(top, rgba(143,5,18,0.8) 0%, rgba(143,5,18,0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(143,5,18,0.8) 0%, rgba(143,5,18,0.8) 100%);
}
.flex-active-slide .fusion-image-wrapper .fusion-rollover .fusion-rollover-link,
.flex-active-slide .fusion-image-wrapper .fusion-rollover .fusion-rollover-gallery {
	background-color: #000;
}
.flex-active-slide .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories a,
.flex-active-slide .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title a {
	color: #000;
}
.fusion-post-content .fusion-content-sep {
	display: none;
}
.fusion-post-content .fusion-single-line-meta {
	margin-bottom: 10px;
}
.fusion-post-content .fusion-post-content-container {
	margin-top: 10px;
}
#content .post .post-content {
	color: #555555;
}

/* Third Party 
--------------------------------------------------- */

.fusion-column-wrapper .wpcf7-form p {
	margin-bottom: 25px;
}
.fusion-column-wrapper .wpcf7-form .wpcf7-text {
	height: 50px;
}
.fusion-column-wrapper .wpcf7-form .wpcf7-textarea {
	height: 110px;
}
.fusion-column-wrapper .wpcf7-form .wpcf7-submit {
	background: #c60719;
	padding: 10px 34px;
}
.fusion-column-wrapper .wpcf7-form .wpcf7-submit:hover {
	background: #5d020b;
}

/* page course 
-------------------------------------------------- */
/* page title div */
.title-page {
	font-size: 30px;
	color: #555555;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans';
	line-height: 55px;
	border-bottom: 1px solid #dcdcdc;
}
.title-page span {
	color: #8f0512;
}

/* taxonomy  */
.cate-caurse .cate-ul, .cate-caurse .box-new-relate .list-relate {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.cate-caurse .cate-ul li {
	width: 29%;
    padding: 15px 0 20px;
    float: left;
    position: relative;
    list-style: none;
    text-align: center;
    margin: 0 76px 0 0;
}
.cate-caurse .cate-ul li:nth-child(3n), .cate-caurse .box-new-relate .list-relate:nth-child(3n) {
	margin-right: 0;
}
.cate-caurse .cate-ul li:after {
    content: "\f07e";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    position: absolute;
    top: 110px;
    right: -57px;
    width: 40px;
    height: 40px;
    background: #333;
    font-size: 28px;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
}
.cate-caurse .cate-ul li:nth-child(3n):after {
	content: '';
	visibility: hidden;
}
.cate-caurse .cate-ul li .img-cate {
	display: block;
	height: 190px;
	position: relative;
	padding: 0 37px;
}
.cate-caurse .cate-ul li .img-cate img {
	max-height: 190px;
	width: auto;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;
}
.cate-caurse .cate-ul li .title-cate {
	display: block;
	color: #8f0512;
	font-size: 14px;
	font-weight: bold;
    font-family:Arial;
	padding: 0 37px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
}
/* post cate */
.cate-caurse .cate-ul li .post-cate {
	width: 100%;
	height: 192px;
	background: #d97158;
	border-radius: 7px;
	margin: auto;
}
.cate-caurse .cate-ul li:nth-child(3n+2) .post-cate {
	background: #343f4e;
}
.cate-caurse .cate-ul li:nth-child(3n)  .post-cate{
	background: #d34b7a;
}
.cate-caurse .cate-ul li .post-cate .post-list {
	overflow: hidden;
	padding: 9px 15px 0;
}
.cate-caurse .cate-ul li .post-cate .post-list img, .cate-caurse .box-new-relate .list-relate a.img img {
	width: 92px;
	border: 2px solid #fff;
	float: left;
	margin:5px 15px 0 0;
}
.cate-caurse .cate-ul li .post-cate .post-list .title-post, .cate-caurse .box-new-relate .list-relate .title-post {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    display: block;
    padding-bottom: 5px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.cate-caurse .cate-ul li .post-cate .post-list .excerpt-content, .cate-caurse .box-new-relate .list-relate .excerpt-content  {
    float: left;
    color: #ffddd5;
    text-align: left;
    width: 65%;
    margin: 0;
    font-size: 12px;
}
.cate-caurse .cate-ul li .post-cate .post-list .excerpt-content a.read-more, .cate-caurse .box-new-relate .list-relate .excerpt-content a.read-more {
    color: #ffddd5;
    font-size: 12px;
}
.cate-caurse .cate-ul li:nth-child(3n+2) .post-cate .post-list .excerpt-content,
.cate-caurse .cate-ul li:nth-child(3n+2) .post-cate .post-list .excerpt-content a.read-more  {
	color: #bcc2ca;
}
.cate-caurse .cate-ul li:nth-child(3n) .post-cate .post-list .excerpt-content,
.cate-caurse .cate-ul li:nth-child(3n) .post-cate .post-list .excerpt-content a.read-more  {
	color: #ffc8db;
}
.cate-caurse .box-new-relate {
	background: #d34b7a;
	border-radius: 3px;
	overflow: hidden;
	padding-bottom: 15px;
}
.cate-caurse .box-new-relate .list-relate {
    width: 29%;
    padding: 15px 15px 0px;
    float: left;
    position: relative;
    list-style: none;
    text-align: center;
    margin: 0 76px 0 0;
}
