/* Header
--------------------------------------------------- */
.fusion-header-wrapper .fusion-header {
	background-color: #8f0512;
}

/* Slider
--------------------------------------------------- */
.home-slider .rev_slider .rev-title {
	letter-spacing: -2px !important;
}

/* Archive Page
--------------------------------------------------- */
.archive .page-heading {
	line-height: 70px;
	height: 70px;
	border-bottom: 1px solid #dcdcdc;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 35px;
}
.archive .page-heading .first-character {
	color: #8f0512;
}
.archive .page-heading .characters {
	color: #555555;
}

/* Shortcodes
--------------------------------------------------- */
/* Content Boxes */
.fusion-content-boxes {
	margin-bottom: 0 !important;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading {
	width: 100%;
	margin-bottom: 7px;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > * {
	display: block;
	text-align: center;
	width: 100%;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > .image {
	margin-bottom: 42px;
}
.fusion-content-boxes .content-box-column .content-wrapper .heading > .image > img {
	margin: 0;
}

/* Blog */
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper,
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-flexslider {
	border: 0;
}
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-flexslider {
	margin-bottom: 11px;
}
.fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper {
	padding: 0;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .entry-title {
	font-size: 15px;
	line-height: 1.5em;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .entry-title a {
	color: #8f0512;
}
#wrapper #main .fusion-blog-layout-grid > .fusion-post-grid > .fusion-post-wrapper > .fusion-post-content-wrapper .fusion-meta-info {
	display: none;
}

/* Third Party 
--------------------------------------------------- */
/* Isotope */
.isotope-layout {
	max-width: 100%;
}
.isotope-layout:after {
	content: '';
	display: block;
	clear: both;
}
.isotope-layout .post {
	float: left;
	width: 17.9%;
	margin-bottom: 0;
}
.isotope-layout .post h3 a {
	color:#8f0512;
}
.isotope-layout .isotope-element-width2 { 
	width: 38.4%; 
}



