/* Header
--------------------------------------------------- */
/* line 3, ../sass/main-style.scss */
.fusion-header-wrapper {
  z-index: 999;
}

/* Blog
--------------------------------------------------- */
/* Blog - Medium 1 */
/* line 11, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium {
  width: 48%;
  margin-right: 4%;
  float: left;
  clear: none;
}
/* line 16, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium > .fusion-flexslider {
  max-width: 45%;
}
/* line 20, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium:nth-child(2n) {
  margin-right: 0;
}

/* Shop Page
--------------------------------------------------- */
/* Hover Effect */
/* line 29, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product .product-images {
  overflow: hidden;
}
/* line 32, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product .product-images img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 39, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product:hover .product-images img {
  width: 110%;
  -webkit-transition: scale(1.2);
  -moz-transition: scale(1.2);
  -o-transition: scale(1.2);
  -ms-transition: scale(1.2);
  transform: scale(1.2);
}

/* line 49, ../sass/main-style.scss */
.woo-thumb-click-effect-popup .product-images {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 60px;
  height: 60px;
}
/* line 57, ../sass/main-style.scss */
.woo-thumb-click-effect-popup .product-images.popup-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 8;
}

/* Click Effect */
/* line 68, ../sass/main-style.scss */
.woo-thumb-click-effect-popup-gallery-zoom .products .product .product-images,
.woo-thumb-click-effect-popup-gallery .products .product .product-images {
  min-height: 0 !important;
}

/* Filter */
/* line 74, ../sass/main-style.scss */
.rt-filter-categories {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 0;
}
/* line 79, ../sass/main-style.scss */
.rt-filter-categories form > * {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 84, ../sass/main-style.scss */
.rt-filter-categories .rt-filter-search {
  max-width: 200px;
  height: 33px;
}
/* line 88, ../sass/main-style.scss */
.rt-filter-categories .gravity-select-parent {
  min-width: 200px;
}
/* line 91, ../sass/main-style.scss */
.rt-filter-categories .rt-filter-submit {
  margin: 0;
  color: #fff;
  border: 0;
  border-radius: 2px;
}

/* Single Product
--------------------------------------------------- */
/* Single Product - Thumbnail Design */
/* line 103, ../sass/main-style.scss */
.thumb-design-vertical .product .images {
  width: 500px;
}
/* line 105, ../sass/main-style.scss */
.thumb-design-vertical .product .images #carousel {
  width: 100px;
  float: right;
}
/* line 108, ../sass/main-style.scss */
.thumb-design-vertical .product .images #carousel ul.slides > li {
  float: none !important;
  margin-bottom: 10px;
  max-height: 120px;
  overflow: hidden;
  opacity: 1 !important;
  width: 100px !important;
}
/* line 117, ../sass/main-style.scss */
.thumb-design-vertical .product .images #slider {
  float: left;
  width: 290px;
}
/* line 122, ../sass/main-style.scss */
.thumb-design-vertical .product .summary.entry-summary {
  margin-left: 530px;
}

/* line 128, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images {
  width: 420px;
}
/* line 130, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images #carousel {
  width: 100px;
}
/* line 133, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images #slider {
  float: left;
  width: 290px;
}
/* line 138, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .summary.entry-summary {
  margin-left: 450px;
}

/* Widgets
--------------------------------------------------- */
/* line 145, ../sass/main-style.scss */
.sidebar * {
  max-width: 100%;
}

/* Black Studio TinyMCE */
/* line 150, ../sass/main-style.scss */
.widget_black_studio_tinymce > .textwidget iframe {
  max-width: 100%;
}

/* Three Plugin
--------------------------------------------------- */
/* Left and Right Ads */
/* line 158, ../sass/main-style.scss */
#divAdLeft,
#divAdRight {
  z-index: 99;
}

/* Magnific Popup */
/* line 164, ../sass/main-style.scss */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 174, ../sass/main-style.scss */
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

/* line 177, ../sass/main-style.scss */
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 182, ../sass/main-style.scss */
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Loading
--------------------------------------------------- */
@-webkit-keyframes uil-ring-anim {
  /* line 189, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 196, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  /* line 205, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 212, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  /* line 221, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 228, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes uil-ring-anim {
  /* line 237, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 244, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  /* line 253, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 260, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  /* line 269, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 276, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes uil-ring-anim {
  /* line 285, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 292, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  /* line 301, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 308, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 316, ../sass/main-style.scss */
.loading {
  background: none;
  position: relative;
  width: 10px;
  height: 10px;
  transform: scale(0.1);
  opacity: 0;
  display: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 330, ../sass/main-style.scss */
.loading.enable {
  opacity: 1;
  display: inline-block;
}

/* line 334, ../sass/main-style.scss */
.loading > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #cec9c9;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
