/* Responsive for web
--------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
/* Popular */
	h1.entry-title {
		line-height: 45px;
		padding: 0 10px;
	}
	.post-content p {
		text-align: justify;
	}
	.ua-mobile .fusion-page-title-bar {
		display: none;
	}
	
	/* Home Page*/
	.fusion-fullwidth-1 .fusion-column-wrapper {
		text-align: center;
	}

	/* Header */
	#wrapper .fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu {
		background-color: #da2128;
	}
	.fusion-header .fusion-standard-logo.fusion-logo-2x {
		max-height: 30px;
	}
	
	/* Footer */
	#logo-footer {
		text-align: center;
	}
	#copyright p {
		line-height: 35px;
		text-align: center !important;
	}
	#copyright img {
		margin-top: -5px !important;
	}

	/* Shortcode Teacher */
	.fusion-posts-teacher .post-inner .entry-thumb img {
		display: block;
		margin: 0 auto;
	}
	.fusion-posts-teacher .entry-title {
		text-align: center;
	}
	.fusion-posts-teacher .entry-manifesto p {
		text-align: justify;
	}

	/* Testimonial */
	.fusion-column-wrapper .fusion-testimonials.clean blockquote q {
		text-align: justify;
	}

	/* Social Network*/
	.fusion-social-links {
		text-align: center;
	}

	/* Third Party */
	.newsletter {
		display: block;
	}
	.newsletter-email {
		width: 100%;
		border-right: 3px solid #cfcfcf;
	}
	.newsletter form p {
		display: block;
	}
	.newsletter-submit, .fusion-column-wrapper .wpcf7-form .wpcf7-submit {
		width: 100%;
	}

	/* Archive */
	.archive .fusion-fullwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
	.fusion-blog-layout-grid.fusion-blog-layout-grid-5 .post-size-big {
		width: 100% !important;
	}
	
	/*Single post teacher*/
	.single-post-k-teacher h1.entry-title {
		padding: 0 10px;
	}
	.single-post-k-teacher #content .post-meta {
		width: 100%;
		margin: 0;
	}
	.single-post-k-teacher #content .post-inner {
		float: none;
		width: 100%;
	}
	.single-post-k-teacher #content .post-meta img {
		display: block;
		margin: 0 auto;
	}
	.single-post-k-teacher #content .post-inner p.title-name {
		line-height: 30px;
		margin: 0;
	}
	
	/* List Course */
	.cate-caurse .box-new-relate .list-relate, .cate-caurse .cate-ul li {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.cate-caurse .cate-ul li:after {
		display: none;
	}
	.cate-caurse .cate-ul li .post-cate {
		height: auto;
		margin-bottom: 10px;
	}
	.page-template-list-course .cate-caurse .box-new-relate .list-relate {
		overflow: hidden;
    	padding: 9px 15px 0;
	}

	/* Single course */
	.single-post-k-course .post-inner {
		padding: 10px;
	}
	.single-post-k-course .post-inner .post-meta {
		width: 100%;
	}
	.single-post-k-course .post-inner .post-meta .course-register {
		width: 100%;
		float: none;
	}
	.single-post-k-course .post-inner .post-content {
		margin-right: 0;
	}
	.single-post-k-course .course-teacher .course-teacher-thumb {
		width: 100%;
		padding-right: 0;
	}
	.single-post-k-course .course-teacher > div {
		display: block;
	}
	.single-post-k-course .post-inner .post-meta .course-meta select {
		width: 100%;
	}

	/* Page Register Course */
	.page-register .box-science ul li span.right select, 
	.page-register .box-science ul li span.right input {
		width: 100%;
	}
	.page-register .button-register a.button,
	.page-register .button-register input {
		margin: 0 0 10px 0;
		width: 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 768px) {
/* Popular */
	h1.entry-title {
		line-height: 45px;
		padding: 0 10px;
	}
	.post-content p {
		text-align: justify;
	}
	.ua-mobile .fusion-page-title-bar {
		display: none;
	}
	
	/* Home Page*/
	.fusion-fullwidth-1 .fusion-column-wrapper {
		text-align: center;
	}

	/* Header */
	#wrapper .fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu {
		background-color: #da2128;
	}
	.fusion-header .fusion-standard-logo.fusion-logo-2x {
		max-height: 30px;
	}
	
	/* Footer */
	#logo-footer {
		text-align: center;
	}
	#copyright p {
		line-height: 35px;
		text-align: center !important;
	}
	#copyright img {
		margin-top: -5px !important;
	}

	/* Shortcode Teacher */
	.fusion-posts-teacher .post-inner .entry-thumb img {
		display: block;
		margin: 0 auto;
	}
	.fusion-posts-teacher .entry-title {
		text-align: center;
	}
	.fusion-posts-teacher .entry-manifesto p {
		text-align: justify;
	}

	/* Testimonial */
	.fusion-column-wrapper .fusion-testimonials.clean blockquote q {
		text-align: justify;
	}

	/* Social Network*/
	.fusion-social-links {
		text-align: center;
	}

	/* Third Party */
	.newsletter {
		display: block;
	}
	.newsletter-email {
		width: 100%;
		border-right: 3px solid #cfcfcf;
	}
	.newsletter form p {
		display: block;
	}
	.newsletter-submit, .fusion-column-wrapper .wpcf7-form .wpcf7-submit {
		width: 100%;
	}

	/* Archive */
	.archive .fusion-fullwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
	.fusion-blog-layout-grid.fusion-blog-layout-grid-5 .post-size-big {
		width: 100% !important;
	}
	
	/* Single post teacher */
	.single-post-k-teacher h1.entry-title {
		padding: 0 10px;
	}
	.single-post-k-teacher #content .post-meta {
		width: 100%;
		margin: 0;
	}
	.single-post-k-teacher #content .post-inner {
		float: none;
		width: 100%;
	}
	.single-post-k-teacher #content .post-meta img {
		display: block;
		margin: 0 auto;
	}
	.single-post-k-teacher #content .post-inner p.title-name {
		line-height: 30px;
		margin: 0;
	}
	
	/* List Course */
	.cate-caurse .box-new-relate .list-relate, .cate-caurse .cate-ul li {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.cate-caurse .cate-ul li:after {
		display: none;
	}
	.cate-caurse .cate-ul li .post-cate {
		height: auto;
		margin-bottom: 10px;
	}
	.page-template-list-course .cate-caurse .box-new-relate .list-relate {
		overflow: hidden;
    	padding: 9px 15px 0;
	}

	/* Single course */
	.single-post-k-course .post-inner {
		padding: 10px;
	}
	.single-post-k-course .post-inner .post-meta {
		width: 100%;
	}
	.single-post-k-course .post-inner .post-meta .course-register {
		width: 100%;
		float: none;
	}
	.single-post-k-course .post-inner .post-content {
		margin-right: 0;
	}
	.single-post-k-course .course-teacher .course-teacher-thumb {
		width: 100%;
		padding-right: 0;
	}
	.single-post-k-course .course-teacher > div {
		display: block;
	}
	.single-post-k-course .post-inner .post-meta .course-meta select {
		width: 100%;
	}

	/* Page Register Course */
	.page-register .box-science ul li span.right select, 
	.page-register .box-science ul li span.right input {
		width: 100%;
	}
	.page-register .button-register a.button,
	.page-register .button-register input {
		margin: 0 0 10px 0;
		width: 100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 640px) {
/* Popular */
	h1.entry-title {
		line-height: 45px;
		padding: 0 10px;
	}
	.post-content p {
		text-align: justify;
	}
	.ua-mobile .fusion-page-title-bar {
		display: none;
	}
	
	/* Home Page*/
	.fusion-fullwidth-1 .fusion-column-wrapper {
		text-align: center;
	}

	/* Header */
	#wrapper .fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu {
		background-color: #da2128;
	}
	.fusion-header .fusion-standard-logo.fusion-logo-2x {
		max-height: 30px;
	}
	
	/* Footer */
	#logo-footer {
		text-align: center;
	}
	#copyright p {
		line-height: 35px;
		text-align: center !important;
	}
	#copyright img {
		margin-top: -5px !important;
	}

	/* Shortcode Teacher */
	.fusion-posts-teacher .post-inner .entry-thumb img {
		display: block;
		margin: 0 auto;
	}
	.fusion-posts-teacher .entry-title {
		text-align: center;
	}
	.fusion-posts-teacher .entry-manifesto p {
		text-align: justify;
	}

	/* Testimonial */
	.fusion-column-wrapper .fusion-testimonials.clean blockquote q {
		text-align: justify;
	}

	/* Social Network*/
	.fusion-social-links {
		text-align: center;
	}

	/* Third Party */
	.newsletter {
		display: block;
	}
	.newsletter-email {
		width: 100%;
		border-right: 3px solid #cfcfcf;
	}
	.newsletter form p {
		display: block;
	}
	.newsletter-submit, .fusion-column-wrapper .wpcf7-form .wpcf7-submit {
		width: 100%;
	}
	
	/* Archive */
	.archive .fusion-fullwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
	.fusion-blog-layout-grid.fusion-blog-layout-grid-5 .post-size-big {
		width: 100% !important;
	}
	
	/* Single post teacher */
	.single-post-k-teacher h1.entry-title {
		padding: 0 10px;
	}
	.single-post-k-teacher #content .post-meta {
		width: 100%;
		margin: 0;
	}
	.single-post-k-teacher #content .post-inner {
		float: none;
		width: 100%;
	}
	.single-post-k-teacher #content .post-meta img {
		display: block;
		margin: 0 auto;
	}
	.single-post-k-teacher #content .post-inner p.title-name {
		line-height: 30px;
		margin: 0;
	}
	
	/* List Course */
	.cate-caurse .box-new-relate .list-relate, .cate-caurse .cate-ul li {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.cate-caurse .cate-ul li:after {
		display: none;
	}
	.cate-caurse .cate-ul li .post-cate {
		height: auto;
		margin-bottom: 10px;
	}
	.page-template-list-course .cate-caurse .box-new-relate .list-relate {
		overflow: hidden;
    	padding: 9px 15px 0;
	}

	/* Single course */
	.single-post-k-course .post-inner {
		padding: 10px;
	}
	.single-post-k-course .post-inner .post-meta {
		width: 100%;
	}
	.single-post-k-course .post-inner .post-meta .course-register {
		width: 100%;
		float: none;
	}
	.single-post-k-course .post-inner .post-content {
		margin-right: 0;
	}
	.single-post-k-course .course-teacher .course-teacher-thumb {
		width: 100%;
		padding-right: 0;
	}
	.single-post-k-course .course-teacher > div {
		display: block;
	}
	.single-post-k-course .post-inner .post-meta .course-meta select {
		width: 100%;
	}

	/* Page Register Course */
	.page-register .box-science ul li span.right select, 
	.page-register .box-science ul li span.right input {
		width: 100%;
	}
	.page-register .button-register a.button,
	.page-register .button-register input {
		margin: 0 0 10px 0;
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	/* Popular */
	h1.entry-title {
		line-height: 45px;
		padding: 0 10px;
	}
	.post-content p {
		text-align: justify;
	}
	.ua-mobile .fusion-page-title-bar {
		display: none;
	}

	/* Header */
	#wrapper .fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu {
		background-color: #da2128;
	}
	.fusion-header .fusion-standard-logo.fusion-logo-2x {
		max-height: 30px;
	}
	
	/* Footer */
	#logo-footer {
		text-align: center;
	}
	#copyright p {
		line-height: 35px;
		text-align: center !important;
	}
	#copyright img {
		margin-top: -5px !important;
	}

	/* Shortcode Teacher */
	.fusion-posts-teacher .post-inner .entry-thumb img {
		display: block;
		margin: 0 auto;
	}
	.fusion-posts-teacher .entry-title {
		text-align: center;
	}
	.fusion-posts-teacher .entry-manifesto p {
		text-align: justify;
	}

	/* Testimonial */
	.fusion-column-wrapper .fusion-testimonials.clean blockquote q {
		text-align: justify;
	}

	/* Social Network*/
	.fusion-social-links {
		text-align: center;
	}

	/* Third Party */
	.newsletter {
		display: block;
	}
	.newsletter-email {
		width: 100%;
		border-right: 3px solid #cfcfcf;
	}
	.newsletter form p {
		display: block;
	}
	.newsletter-submit, .fusion-column-wrapper .wpcf7-form .wpcf7-submit {
		width: 100%;
	}

	/* Archive */
	.archive .fusion-fullwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
	.fusion-blog-layout-grid.fusion-blog-layout-grid-5 .post-size-big {
		width: 100% !important;
	}
	
	/* Single post teacher */
	.single-post-k-teacher h1.entry-title {
		padding: 0 10px;
	}
	.single-post-k-teacher #content .post-meta {
		width: 100%;
		margin: 0;
	}
	.single-post-k-teacher #content .post-inner {
		float: none;
		width: 100%;
	}
	.single-post-k-teacher #content .post-meta img {
		display: block;
		margin: 0 auto;
	}
	.single-post-k-teacher #content .post-inner p.title-name {
		line-height: 30px;
		margin: 0;
	}
	
	/* List Course */
	.cate-caurse .box-new-relate .list-relate, .cate-caurse .cate-ul li {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.cate-caurse .cate-ul li:after {
		display: none;
	}
	.cate-caurse .cate-ul li .post-cate {
		height: auto;
		margin-bottom: 10px;
	}
	.page-template-list-course .cate-caurse .box-new-relate .list-relate {
		overflow: hidden;
    	padding: 9px 15px 0;
	}

	/* Single course */
	.single-post-k-course .post-inner {
		padding: 10px;
	}
	.single-post-k-course .post-inner .post-meta {
		width: 100%;
	}
	.single-post-k-course .post-inner .post-meta .course-register {
		width: 100%;
		float: none;
	}
	.single-post-k-course .post-inner .post-content {
		margin-right: 0;
	}
	.single-post-k-course .course-teacher .course-teacher-thumb {
		width: 100%;
		padding-right: 0;
	}
	.single-post-k-course .course-teacher > div {
		display: block;
	}
	.single-post-k-course .post-inner .post-meta .course-meta select {
		width: 100%;
	}

	/* Page Register Course */
	.page-register .box-science ul li span.right select, 
	.page-register .box-science ul li span.right input {
		width: 100%;
	}
	.page-register .button-register a.button,
	.page-register .button-register input {
		margin: 0 0 10px 0;
		width: 100%;
	}
}