/* RT Blog
--------------------------------------------------- */
/* line 5, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode article .entry-title {
  margin-top: 0;
}

/* line 12, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-1 article.has-post-thumbnail .entry-thumb {
  float: left;
  width: 50%;
  padding-right: 5px;
}
/* line 17, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-1 article.has-post-thumbnail .entry-content {
  float: left;
  width: 50%;
  padding-left: 5px;
}

/* line 25, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 30, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article > .post-inner .entry-thumb {
  float: left;
  width: 25%;
  padding-right: 10px;
}
/* line 38, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article.not-first .entry-title {
  margin-bottom: 0;
}

/* line 44, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article {
  margin-bottom: 10px;
}
/* line 47, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div {
  width: 50%;
  float: left;
}
/* line 51, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div.first {
  padding-right: 10px;
}
/* line 54, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div.not-first {
  padding-left: 10px;
}
